<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main id="cadastro">
      <div class="box-cadastro">
        <form action="/cadastrar" method="post">
          <label for="">Marca: </label>
          <input type="text" name="imovel" required />
          <label for="">Modelo: </label>
          <input type="number" step="0.01" name="valor" required />
          <label for="">Ano: </label>
          <input type="text" name="imagem" required />
          <label for="">Descrição: </label>
          <input type="text" name="descricao" />
          <label for="">Valor: </label>
          <input type="text" name="fav" />
          <button type="submit" class="btn-submit">Enviar</button>
        </form>
      </div>
    </main>
  </body>
</html>
