<%- include('components/header') %>
<main>
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Seja, <span></span></h1>
        <h1>Bem vindo ao <span></span></h1>
        <h1>CasaFacil <span></span></h1>
        <a href="/catalogo" type="button" class="btn">Catalogo</a>
      </div>
      <lottie-player
        src="https://assets1.lottiefiles.com/packages/lf20_gv6ovc3h.json"
        background="transparent"
        speed="1"
        class="lottie-index"
        loop
        autoplay
      ></lottie-player>
    </div>
  </section>
</main>
<%- include('components/footer') %>
